:root {
    --primary_font: "Bree Serif", serif;
    --secondary-font: 'Courier New', monospace;

    --primary_color: #1f2937;    
    --second_color: #f97316;      
    --third_color: #111827;       

    --neutral_light: #f9fafb;     
    --neutral_medium: #d1d5db;    
}

body {
    font-family: var(--primary_font);
    margin: 0;
    padding: 0;
    background-color: var(--neutral_light);
    color: var(--third_color); 
}

a {
    text-decoration: none;
    color: var(--primary_color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 600px;
    background: linear-gradient(90deg, var(--primary_color) 67%, var(--second_color) 33%);
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3;
    align-items: center;
    height: 100%;
    background-color: #312764;

}

.header-left h1 {
    color: var(--second_color);
    font-size: 80px;
}

.header-left p {
    margin-left: 80px;
    color: var(--neutral_light);
    font-size: 30px;
}

.header-right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;

}

.header-right img {
    width: 300px;
    border-radius: 10%;
    position: absolute;
    right: 250px;
}

.header-right button img {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 500px;
    right: 100px;
    cursor: pointer;
}

.header-right button.hidden {
    display: none;
}

.menu {
    position: absolute;
    bottom: 320px;
    right: 100px;
    background-color: #fefefe;
    height: 200px;
    width: 300px;
    padding-top: 20px;
    transition: opacity 1.0s ease, transform 1.0s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateY(-20px);
}

.menu.ativado {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
}

.menu.ativado a,
.menu.ativado li {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

.menu .fechar {
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: var(--third_color);
}

.menu.desativado {
    transition: opacity 1.0s ease, transform 1.0s ease;
    pointer-events: none;

}

.slide-in {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.6s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}


.sobre {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: 600px;
}

.sobre a {
    display: inline-block;
    align-self: flex-start;
    padding-left: 50px;
    margin: 20px 0;
    font-size: 40px;
    text-decoration: none;
    transition: color 0.3s linear;
}

.sobre a:hover {
    color: var(--neutral_medium);
}   

.sobre p {
    padding-left: 50px;
    margin: 20px 0;
    font-size: 40px;
    background-color: transparent; /* se quiser */
    color: var(--third_color);
}


.sobre article {
    margin: 0 60px 0 60px;
}

.sobre article h2 {
    color: var(--second_color);
    font-size: 40px;
    padding-left: 50px;
}

.sobre .redes_cibersegurança {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.sobre article:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 8px 16px #1e1648;
}


.sobre div {
    display: flex;
    height: 400px;
}

.sobre p {
    color: #3D155F;
    font-size: 20px;

}

.projetos {
    display: flex;
    flex-direction: column;
    background: var(--second_color);
    height: 1200px;
}

.projetos p {
    font-size: 25px;
}

.projetos a,
p {
    padding-left: 50px;
    margin-top: 20px;
    font-size: 40px;
}

.projetos a {
    color: #e9e9e9;
}

.projetos li {
    color: var(--primary_color);
    font-size: 20px;
}

.div_site_hambuguer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 50%;
    background-color: var(--second_color);
}

.div_site_hambuguer h4 {
    color: var(--primary_color);
    font-size: 50px;
}

.erp {
    background-color: var(--third_color);
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.erp p {
    color: var(--neutral_medium);
}

.erp img {
    width: 700px;
    height: 400px;
}

.erp h4 {
    color: var(--second_color);
    font-size: 40px;
}

.erp li {
    color: var(--second_color);
}

@media (max-width: 768px )  {
    header {
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
        gap: 2rem;
        background: #312764;
        align-items: center;
    }

    .header-left h1 {
        font-size: 40px;
    }

    .header-left p {
        font-size: 22px;
        margin-left: 0;
        text-align: center;
    }

    .header-right img {
        position: static;
        width: 180px;
        margin: 0 auto;
    }

    .header-right button {
        opacity: 0;
    }

    .menu {
        opacity: 0;
    }
}

@media (max-width: 768px) {

    .div_site_hambuguer,
    .erp {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        gap: 1rem;
        align-items: center;
        margin-top: 10px;

    }

    .erp img {
        width: 100%;
        max-width: 90vw;
        height: 300px;
    }

    .div_site_hambuguer .video-burguer {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .sobre div {
        flex-direction: column;
        height: auto;
    }

    .sobre p,
    .sobre a,
    .projetos p,
    .projetos a {
        font-size: 20px;
        padding: 0 1rem;
    }

    .sobre article h2 {
        font-size: 30px;
        text-align: center;
        padding-left: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 468px) {
    body{
        display: flex;
        flex-direction: column;
    }

    .header-left {
        padding-left: 6px;
        align-items: center;
    }
    .header-left h1, p{
        padding-left: 6px;
    }

    .sobre {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .projetos{
        flex-direction: column;
        display: flex;
    }


}